/*------------------------------------Body Principal-------------------------------------*/
body {
    line-height: 1.6;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*------------------------------------Header-------------------------------------*/
header {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    background: linear-gradient(to bottom, #114106 95%, #ffffff 100%);
    color: rgb(199, 199, 199);
    padding: 16px;
    text-align: center;
    margin-bottom: 3rem;
}


/*------------------------------------Navegação-------------------------------------*/
nav ul {
    list-style: none;
    padding: 0
}

nav ul li {
    display: inline;
    margin-right: 10px
}

nav ul li a {
    color: #FFF;
    text-decoration: none
}

nav ul li a:hover {
    color: #60755c;
    border-bottom: 2px solid #414e3e;
    transition: 0.3s;
}

/*------------------------------------Thank You-------------------------------------*/
.thank-you-screen {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    min-height: 1rem;
    /* Altura mínima para não ficar colado no topo */
    flex-direction: column;
}

.thank-you-card {
    background-color: #f0fdf4;
    /* Verde clarinho igual o form */
    border: 2px solid #114106;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
    /* Para não estourar no celular */
}

.thank-you-card .icon {
    font-size: 4rem;
    /* Emoji grande */
    margin-bottom: 20px;
}

.thank-you-card h2 {
    color: #114106;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}

.thank-you-card p {
    color: #555;
    font-size: 1.1rem;
}

.btn-ticket {
    color: #114106;
}

.thankyou {
    text-align: center;
    color: #114106;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;

    margin-top: 30px;
    margin-bottom: 5px;
}

/*------------------------------------Player-------------------------------------*/

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 850px;
    width: 90%;
    margin: 30px auto;
}

iframe {
    width: 100%;
    height: 450px;
    border-radius: 12px;
}

/*------------------------------------Footer-------------------------------------*/
footer {
    background: #0a2704;
    color: rgb(199, 199, 199);
    padding: 16px;
    text-align: center;
    clear: both;
}

.social-icons {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.social-icons img {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;
    filter: invert(1) brightness(100%);
}

.social-icons img:hover {
    opacity: 0.8;
}

/*------------------------------------Responsividade-------------------------------------*/

@media (max-width: 600px) {
    
   
    .thank-you-card {
        width: 90%;
        padding: 30px 20px;
    }


    .player {
        width: 80%; 
    }
    
    .thankyou {
        font-size: 1.1rem;
    }
}