/*------------------------------------Body Principal-------------------------------------*/
body{
	line-height:1.6;
	margin:0px;
	padding:0px;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*------------------------------------Header-------------------------------------*/
header{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    background: linear-gradient(to bottom, #114106 95%, #ffffff 100%);
    color: rgb(199, 199, 199);
    padding: 16px;
    text-align: center;
}


/*------------------------------------Navegação-------------------------------------*/
nav ul{
	list-style:none;
	padding:0
}

nav ul li{
	display:inline;
	margin-right:10px
}

nav ul li a{
	color:#FFF;
	text-decoration:none
}

nav ul li a:hover {
    color: #60755c; 
    border-bottom: 2px solid #414e3e;
    transition: 0.3s;
}

/*------------------------------------Imagem-------------------------------------*/
#pic{
	display: block;
	max-width: 400px;
    width: 100%;
	height: auto;
	border-radius: 8px;



}
/*------------------------------------Bloco Album-------------------------------------*/
article{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: black;
	font-style: italic;
    background-color: #badab39e;
	padding: 70px;
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
    
}

article ul{ 
	list-style: decimal;
	margin-left: 20px;
	padding-right: 20px;
}

h3,h1{
	font-family: "Roboto", sans-serif;
}

/*------------------------------------Footer-------------------------------------*/
footer {
    background: #0a2704;
    color: rgb(199, 199, 199);
    padding: 16px;
    text-align: center;
    clear: both; 
}

.social-icons {
    margin-bottom: 15px;
    display: flex;
    justify-content: center; 
    gap: 20px; 
    align-items: center;
}

.social-icons img {
    width: 30px; 
    height: auto;
    transition: transform 0.3s ease; 
    filter: invert(1) brightness(100%); 
}

.social-icons img:hover {
    opacity: 0.8;
}

/*------------------------------------Responsividade-------------------------------------*/
@media (max-width: 768px) {
    article {
        flex-direction: column; 
        text-align: top;
    }

    article ul {
        list-style-position: inside; 
        margin: 0;
        padding: 20px 0; 
        text-align: left; 
        flex-direction: column;
		
    }

    #pic {
        max-width: 80%; 
        margin: 0 auto; 
    }
}