body{
	line-height:1.6;
	margin:0px;
	padding:0px;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    font-family:Arial;
	background:#114106;
	color:#FFF;
	padding:16px;
	text-align:center
}

footer{
    font-family:Arial;
	background:#114106;
	color:#FFF;
	padding:16px;
	text-align:center;
	margin-top: auto;
    
}

nav ul{
	list-style:none;
	padding:0
}

nav ul li{
	display:inline;
	margin-right:10px
}

nav ul li a{
	color:#FFF;
	text-decoration:none
}

#pic{
	display: block;
	max-width: 400px;
    width: 100%;
	height: auto;
	border-radius: 8px;



}

article{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: black;
	font-style: italic;
    background-color: #a5e4979e;
	padding: 70px;
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
    
}

article ul{ 
	list-style: decimal;
	margin-left: 20px;
	padding-right: 20px;
}



/*responsividade */
@media (max-width: 768px) {
    article {
        flex-direction: column; 
        text-align: top;
    }

    article ul {
        list-style-position: inside; 
        margin: 0;
        padding: 20px 0; 
        text-align: left; 
        flex-direction: column;
		
    }

    #pic {
        max-width: 80%; 
        margin: 0 auto; 
    }
}